 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/pony-style.css' %}">
    <title>{% block titre %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>
<body>
    {% block contenu %}
    {% endblock %}
    
</body>
{% comment %} <script src="{% static 'js/scripts.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'js/scripts2.js' %}"></script> {% endcomment %}
<script src="{% static 'js/pony-multi.js' %}"></script>
</html>