{% extends "base.html" %}


{% block contenu %} 

    <h1>{% block titre %}Pony Factory{% endblock%}</h1>
    <h2>Heure d'arrivée : {% now "Y-m-d G:i:s" %}</h2>
    <button type="button" id="factorybutton">Cloner un poney !</button>
    <button type="button" id="mon-bouton">Générer aléatoirement un poney qui reste dans la base de donnée !</button>
    
        <div id="game-area"> 
        {% for pony in all_ponies %}
            {% include "pony_builder.html" %}
        {% endfor %}
        </div>  
{% endblock %}