  {% if pony.species == "1" %}
                <div id="pony{{ pony.id }}" class="pony licorne" draggable="true" > 
                    <div class="li eye" style="background-color:{{ pony.eye_color }};"></div>
                    <div class="li head"  style="background-color: {{ pony.coat_color }};"></div>
                    <div class="li head1"  style="background-color: {{ pony.coat_color }};"></div>
                    <div class="li encolure"  style="background-color: {{ pony.coat_color }};"></div>

                    <div class="li oreille"  style="background-color: {{ pony.coat_color }};"></div>

                    <div class="li corne"  style="background-color: {{ pony.horn_color }};"></div>
                    <div class="li corne1"  style="background-color: {{ pony.horn_color }};"></div>


                    <div class="li criniere1"  style="background-color: {{ pony.mane_color }};"></div>
                    <div class="li criniere2"  style="background-color: {{ pony.mane_color }};"></div>
                    <div class="li criniere3"  style="background-color: {{ pony.mane_color }};"></div>

                    <div class="li leg1"  style="background-color: {{ pony.coat_color }};"></div>
                    <div class="li leg2"  style="background-color: {{ pony.coat_color }};"></div>
                    <div class="li leg3"  style="background-color: {{ pony.coat_color }};"></div>
                    <div class="li leg4"  style="background-color: {{ pony.coat_color }};"></div>

                    <div class="li corps"  style="background-color: {{ pony.coat_color }};"></div>

                    <div class="li ventre"  style="background-color: {{ pony.belly_color }};"></div>

                    <div class="li queue"  style="background-color: {{ pony.mane_color }};"></div>
                    <div class="li queue1"  style="background-color: {{ pony.mane_color }};"></div>
                </div> 
                
                {% elif pony.species == "2" %} 
                <div id="pony{{ pony.id }}" class="pony rustique" draggable="true" >
                    <div class="ru eye" style="background-color:{{ pony.eye_color }};"></div>
                    <div class="ru head"  style="background-color: {{ pony.coat_color }};"></div>
                    <div class="ru head1"  style="background-color: {{ pony.coat_color }};"></div>
                    <div class="ru encolure"  style="background-color: {{ pony.coat_color }};"></div>

                    <div class="ru oreille"  style="background-color: {{ pony.coat_color }};"></div>

                    <div class="ru corne"  style="background-color: {{ pony.horn_color }};"></div>
                    <div class="ru corne1"  style="background-color: {{ pony.horn_color }};"></div>


                    <div class="ru criniere1"  style="background-color: {{ pony.mane_color }};"></div>
                    <div class="ru criniere2"  style="background-color: {{ pony.mane_color }};"></div>
                    <div class="ru criniere3"  style="background-color: {{ pony.mane_color }};"></div>

                    <div class="ru leg1"  style="background-color: {{ pony.coat_color }};"></div>
                    <div class="ru leg2"  style="background-color: {{ pony.coat_color }};"></div>
                    <div class="ru leg3"  style="background-color: {{ pony.coat_color }};"></div>
                    <div class="ru leg4"  style="background-color: {{ pony.coat_color }};"></div>

                    <div class="ru corps"  style="background-color: {{ pony.coat_color }};"></div>

                    <div class="ru ventre"  style="background-color: {{ pony.belly_color }};"></div>

                    <div class="ru queue"  style="background-color: {{ pony.mane_color }};"></div>
                    <div class="ru queue1"  style="background-color: {{ pony.mane_color }};"></div>
                </div> 

                {% elif pony.species == "3" %} 
                <div id="pony{{ pony.id }}" class="pony sport" draggable="true" >
                    <div class="sp eye" style="background-color:{{ pony.eye_color }};"></div>
                    <div class="sp head"  style="background-color: {{ pony.coat_color }};"></div>
                    <div class="sp head1"  style="background-color: {{ pony.coat_color }};"></div>
                    <div class="sp encolure"  style="background-color: {{ pony.coat_color }};"></div>

                    <div class="sp oreille"  style="background-color: {{ pony.coat_color }};"></div>

                    <div class="sp corne"  style="background-color: {{ pony.horn_color }};"></div>
                    <div class="sp corne1"  style="background-color: {{ pony.horn_color }};"></div>


                    <div class="sp criniere1"  style="background-color: {{ pony.mane_color }};"></div>
                    <div class="sp criniere2"  style="background-color: {{ pony.mane_color }};"></div>
                    <div class="sp hoof"  style="background-color: {{ pony.horn_color }};"></div>

                    <div class="sp leg1"  style="background-color: {{ pony.coat_color }};"></div>
                    <div class="sp leg2"  style="background-color: {{ pony.coat_color }};"></div>
                    <div class="sp leg3"  style="background-color: {{ pony.coat_color }};"></div>
                    <div class="sp leg4"  style="background-color: {{ pony.coat_color }};"></div>

                    <div class="sp corps"  style="background-color: {{ pony.coat_color }};"></div>

                    <div class="sp ventre"  style="background-color: {{ pony.belly_color }};"></div>

                    <div class="sp queue"  style="background-color: {{ pony.mane_color }};"></div>
                    <div class="sp queue1"  style="background-color: {{ pony.mane_color }};"></div>
                </div>   

                {% elif pony.species == "4" %} 
                 <div id="pony{{ pony.id }}" class="pony nocturne" draggable="true" >
                    <div class="no eye" style="background-color:{{ pony.eye_color }};"></div>
                    <div class="no head"  style="background-color: {{ pony.coat_color }};"></div>
                    <div class="no head1"  style="background-color: {{ pony.coat_color }};"></div>
                    <div class="no encolure"  style="background-color: {{ pony.coat_color }};"></div>

                    <div class="no oreille"  style="background-color: {{ pony.coat_color }};"></div>

                    {% comment %} <div class="no corne"  style="background-color: {{ pony.horn_color }};"></div>
                    <div class="no corne1"  style="background-color: {{ pony.horn_color }};"></div> {% endcomment %}


                    <div class="no criniere1"  style="background-color: {{ pony.mane_color }};"></div>
                    <div class="no criniere2"  style="background-color: {{ pony.mane_color }};"></div>
                    <div class="no criniere3"  style="background-color: {{ pony.mane_color }};"></div>

                    <div class="no leg1"  style="background-color: {{ pony.coat_color }};"></div>
                    <div class="no leg2"  style="background-color: {{ pony.coat_color }};"></div>
                    <div class="no leg3"  style="background-color: {{ pony.coat_color }};"></div>
                    <div class="no leg4"  style="background-color: {{ pony.coat_color }};"></div>

                    <div class="no corps"  style="background-color: {{ pony.coat_color }};"></div>

                    <div class="no ventre"  style="background-color: {{ pony.belly_color }};"></div>

                    <div class="no queue"  style="background-color: {{ pony.mane_color }};"></div>
                    <div class="no queue1"  style="background-color: {{ pony.mane_color }};"></div>
                </div>   
                
                {% elif pony.species == "5" %} 
                 <div id="pony{{ pony.id }}" class="pony digitale" draggable="true" >
                    <div class="di eye" style="background-color:{{ pony.eye_color }};"></div>
                    <div class="di head"  style="background-color: {{ pony.coat_color }};"></div>
                    <div class="di head1"  style="background-color: {{ pony.coat_color }};"></div>
                    <div class="di encolure"  style="background-color: {{ pony.coat_color }};"></div>

                    <div class="di oreille"  style="background-color: {{ pony.coat_color }};"></div>

                    {% comment %} <div class="di corne"  style="background-color: {{ pony.horn_color }};"></div>
                    <div class="di corne1"  style="background-color: {{ pony.horn_color }};"></div> {% endcomment %}


                    <div class="di criniere1"  style="background-color: {{ pony.mane_color }};"></div>
                    <div class="di criniere2"  style="background-color: {{ pony.mane_color }};"></div>
                    <div class="di criniere3"  style="background-color: {{ pony.mane_color }};"></div>

                    <div class="di leg1"  style="background-color: {{ pony.coat_color }};"></div>
                    <div class="di leg2"  style="background-color: {{ pony.coat_color }};"></div>
                    <div class="di leg3"  style="background-color: {{ pony.coat_color }};"></div>
                    <div class="di leg4"  style="background-color: {{ pony.coat_color }};"></div>

                    <div class="di corps"  style="background-color: {{ pony.coat_color }};"></div>

                    <div class="di ventre"  style="background-color: {{ pony.belly_color }};"></div>

                    <div class="di queue"  style="background-color: {{ pony.mane_color }};"></div>
                    <div class="di queue1"  style="background-color: {{ pony.mane_color }};"></div>
                </div>   
                {% endif %} 